<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>aula</title>
</head>

<body>
    <hr>
    <h1> bem-vindo, a blog senac</h1>
    </hr>

    <p>
        nome: <%= nome %>
    </p>
</body>

</html>